<html>
<head>
    <title>Random Page</title>
</head>
<body>
    <table>
        <tr>
            <td>
                Test name 1
            </td>
            <td>
                Test value odd
            </td>
        </tr>
        <tr>
            <td>
                Test name 2
            </td>
            <td>
                Test value even
            </td>
        </tr>
        <tr>
            <td>
                Test name 3
            </td>
            <td>
                Test value odd
            </td>
        </tr>
        <tr>
            <td>
                Test name 4
            </td>
            <td>
                Test value even
            </td>
        </tr>
        <tr>
            <td>
                Test name 5
            </td>
            <td>
                Test value odd
            </td>
        </tr>
        <tr>
            <td>
                Test name 6
            </td>
            <td>
                Test value even
            </td>
        </tr>
        <tr>
            <td>
                Test name 7
            </td>
            <td>
                Test value odd
            </td>
        </tr>
        <tr>
            <td>
                Test name 8
            </td>
            <td>
                Test value even
            </td>
        </tr>
        <tr>
            <td>
                Test name 9
            </td>
            <td>
                Test value odd
            </td>
        </tr>
        <tr>
            <td>
                Test name 10
            </td>
            <td>
                Test value even
            </td>
        </tr>
    </table>
</body>
</html>